Hướng dịch vụ/Đề thi/Huong dich vu/DeSo2schema.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. -->
<xs:schema xmlns:tns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://webService/">

    <xs:element name="addItem" type="tns:addItem"/>

    <xs:element name="addItemResponse" type="tns:addItemResponse"/>

    <xs:element name="setNumber" type="tns:setNumber"/>

    <xs:element name="setNumberResponse" type="tns:setNumberResponse"/>

    <xs:complexType name="addItem">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addItemResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setNumber">
        <xs:sequence>
            <xs:element name="number" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setNumberResponse">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>